<div class="flex-box container-box">
    <div class="content-box">
        <mat-card class="card">
            <h2 class="font-title">Login</h2>
            <form class="form" [formGroup]="loginForm">
                <mat-form-field class="full">
                  <mat-label>Email</mat-label>
                  <input type="text" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
                  <!--
                    <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('email') && !loginForm.controls['emailFormControl'].hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  -->
                </mat-form-field>

                <mat-form-field  class="full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="passwordFormControl">
                </mat-form-field>
                <div class="button-row">
                  <button mat-button color="primary" (click)="goToPage('register-user')">Register</button>
                  <div class="divider">|</div>
                  <button mat-raised-button color="primary" (click)="login()">Login</button>
                </div>
              </form>
        </mat-card>
    </div>
</div>
