<div  class="flex-box container-box">
    <div class="content-box">
        <table mat-table [dataSource]="listUser" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> CPF </th>
                <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="logradouro">
                <th mat-header-cell *matHeaderCellDef> Logradouro </th>
                <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef> Bairro </th>
                <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
            </ng-container>
    
            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> Cidade </th>
                <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
            </ng-container>
    
            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef> UF </th>
                <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>