.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    height: 100%;
}

.content-box {
    min-width: 80%;
    border-radius: 2px;
}

table {
    width: 100%;
  }